/*字体*/
@font-face {
  font-family: "Exo2";
  src: url('../font/Exo2-Regular-14.ttf') format('truetype'),
}
@font-face {
  font-family: "Exo";
  src: url('https://echoflove.github.io/font/Exo2-Regular-14.ttf') format('truetype'),
}
@font-face {
  font-family: "SiYuanSongTi";
  src: url('https://echoflove.github.io/font/NotoSerifSC-Regular.otf') format('opentype'),
}

body{
    font-family: Exo2,-apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Lato, Roboto, 'PingFang SC', 'Microsoft YaHei', sans-serif;
}

/*适配宽屏*/
.layout{
    max-width:1400px
}

/*左右栏调换*/
.layout > div:first-child{
    order:2;
}

/*左栏边距对应调整*/
@media screen and (min-width: 900px){
#aside-content {
    padding-right: 15px;
    padding-left: 0;
    max-width:312px;
}
}
/*左栏信息框*/
#aside-content > .card-widget:first-child {
    margin-top: 0;
    background: linear-gradient(100deg, white, #ffffffde, transparent);
}

/*toc目录栏内容边距*/
#aside-content #card-toc .toc-content > *{

}
/*目录数字*/
#aside-content #card-toc .toc-percentage {
    float: right;
    margin-top: -5px;
    color: #a9a9a9;
    font-style: italic;
    font-size: 120%;
    font-family: Exo2;
}

/*底部背景色哦*/
#footer:before {
    background: linear-gradient(to top, #fde9ee87, transparent);
    position: fixed;
    bottom: 0;
    max-height: 8vh;
}


/*顶部导航栏*/
#page-header.nav-fixed #nav{
    backdrop-filter: blur(16px);
}

/*页码数字按钮*/
#pagination .page-number.current {
    background: #dcd0c0;
    color: var(--white);
}


/*h1分级标题图标*/
#article-container.post-content h1:before, #article-container.post-content h2:before, #article-container.post-content h3:before, #article-container.post-content h4:before, #article-container.post-content h5:before, #article-container.post-content h6:before {
    position: absolute;
    top: calc(50% - 7px);
    color: #fabebb;
    content: '\f863';
    line-height: 1;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
    animation: avatar_turn_around 3s linear infinite;
}

/*链接*/
#article-container a {
    color: #d4b4b4;
    display:inline-block;
    transition: 0.2s all ease-in;
    line-height: 1.3;
}
#article-container a:hover {
    text-decoration:none;
    color: white;
    background: #f3c5c5;
    border-radius: 5px;
}

/*鼠标选中文本*/
::selection{
  background-color:#d4b4b4;
  color:#FFF;
}





/*列表list*/
#article-container.post-content li::marker {
    color: #ff9f9c;
    font-weight: 600;
    font-size: 1.05em;
}
#article-container.post-content ul > li {
    list-style-type: inherit;
}

/*一个block框*/
.block{
    background: #eac5d208;
    border: 1px solid #eedbdf57;
    padding: 0 12px;
    border-radius: 5px;
}

/*代码块*/
#article-container figure.highlight .gutter pre {
    background-color: #ffffff;
    color: rgb(198 169 168);
}
#article-container .highlight-tools {
    background: #eedbd991;
}
#article-container pre, #article-container figure.highlight{
    background: #fffefefc;
}





/*导航栏*/
#nav-right{
    flex:1 1 auto;
    justify-content: flex-end;
    margin-left: auto;
    display: flex;
    flex-wrap:nowrap;
}


/*作者: Ariasaka
链接: https://yisous.xyz/posts/895003b5/#%E5%88%86%E7%A6%BB%E6%90%9C%E7%B4%A2%E6%A0%8F%E4%B8%8E%E8%8F%9C%E5%8D%95%E6%A0%8F
来源: Ariasakaの小窝
著作权归作者所有。商业转载请联系作者获得授权，非商业转载请注明出处。*/

.nav-fixed #nav{
    transform: translateY(58px)!important;
    -webkit-transform: translateY(58px)!important;
    -moz-transform: translateY(58px)!important;
    -ms-transform: translateY(58px)!important;
    -o-transform: translateY(58px)!important;
}
#nav{
    transition: none!important;
    -webkit-transition: none!important;
    -moz-transition: none!important;
    -ms-transition: none!important;
    -o-transition: none!important;
}

/*显示标题 https://zhuanlan.zhihu.com/p/582638450*/
#page-name::before {
    font-size: 18px;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 8px;
    color: white !important;
    top: 0;
    left: 0;
    content: '回到顶部';
    background-color: var(--lyx-theme);
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
    opacity: 0;
    box-shadow: 0 0 3px var(--lyx-theme);
    line-height: 45px;
    /*如果垂直位置不居中可以微调此值，也可以删了*/
}
​
#page-name:hover:before {
    opacity: 1;
}
​
@media screen and (max-width:900px) {
​
    #page-name,
    #menus {
        display: none !important;
    }
}
​
#name-container {
    transition: all .3s;
    -webkit-transition: all .3s;
    -moz-transition: all .3s;
    -ms-transition: all .3s;
    -o-transition: all .3s;
}
​
#name-container:hover {
    scale: 1.03
}
​
#page-name {
    position: relative;
    padding: 10px 30px
}
​
#nav {
    padding: 0 20px;
}






/*首页文章标题*/
#recent-posts > .recent-post-item >.recent-post-info > .article-title {
    font-family:SiYuanSongTi
}

:root{
    --btn-hover-color: #edd8d6;
    --btn-bg: #dcd0c0;
    --font-color: #6c6663;
}
